.box{
    height: 200px;
    width: 200px;
    border: 2px solid ;
    overflow: hidden;
    position: relative;
     
}

.img{
    width: 100%;
    height: 100%;
   
}
p{
    position: absolute;
    top: 0px;
    color:blue;
    margin: 0px;
    height: 100%;
    transform: translateX(100%);
    transition: all 1s linear 0s;
    
}
 .box:hover>p{
    transform: translateX(0px);
}
