button:hover{
    background-color: gold;
}
a:hover{
    background-color: aqua;
}
a:link{
    color: red;
    text-decoration: none;
}
a:active{
    color: blue;
}
a:visited{
    background-color:green;
}